body {
    background-color: seagreen;
    font-family: Verdana;
}

.image_top {
    width: 150px;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: red;
}
#title {
    font-size: 40px;
    text-transform: uppercase;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: sienna;
    border: 3px solid #aaa;
    margin:  10px;
    padding: 10px;
    
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.footer {
    font-size: 20px;
    background-color: blanchedalmond;
    font-family: Impact;
    font-weight: bolder;
    cursor: pointer;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
    text-decoration: rgb(9, 12, 12);
}

.contact_list li a {
    color: royalblue;
}

.icon_contact {
    width: 20px;
    margin-right: 5px;
}